/* GLOBAL VARIABLE NG COLORS */
:root {
    --suisei-blue: #4f7fcf;
    --suisei-dark: #2c3e50;
    --suisei-light: #a4c6f2;
    --suisei-accent: #e0e0e0;
  }

*{
    text-align: center;
    justify-content: center;
    color: var(--suisei-accent);
}

/* REUSABLE NA STYLES */
.d-flex{
    display: flex;
}

.mt-15{
    margin-top: 15px;
}

.f-mont{
    font-family: 'Montserrat';
}

.f-pop{
    font-family: 'Poppins';
}

.b-rad-10{
    border-radius: 10px;
}

.b-rad-15{
    border-radius: 15px;
}

.p-rel{
    position: relative;
}

.p-abs{
    position: absolute;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.6), #00000080),
    url('suibg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    margin: 10px;
}

.box_header{
    background-color: var(--suisei-blue);
}

.header_font_color{
    padding: 20px;
    font-size: 40px;
}

.box_container{
    background-color: rgba(224, 224, 224, 0.1);
    font-size: 20px;
    transition: .2s ease-in-out;
}

.box_container:hover{
    background-color: rgba(224, 224, 224, .2);
}

.box_title{
    margin-bottom: 0;
    font-weight: 600;
    padding-top: 10px;
    
}

.box_content{
    margin-top: 0px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 300;
    font-size: 30px;
}

.box_img_container{
    background-color: rgba(224, 224, 224, 0.1);
    font-size: 20px;
    flex-direction: row;
}

.box_img_card{
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    width: 100%;
    max-width:1000px;
    overflow: hidden;
}

.box_img_card .img{
    height: 85px;
    object-fit: cover;
    width: 100%;
    filter:brightness(50%);
}

.box_img_card:hover .img{
    filter:brightness(100%);
    
}

.card_img_text:hover{
    text-shadow: 2px 2px 3px #2c3e50;
}

.card_img_text{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 25px;
    top: 0;
    left: 0;
    text-decoration: none;

}

.img_gallery_container{
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    display: flex;
}

.img_gallery_card{ 
    margin: 5px;
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
}

.img_gallery{
    height: 350px;
    max-height: 350%;
    object-fit: cover;
    overflow: hidden;
}

.gallery_overlay{
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.6));
    transition: .3s ease;
}

.img_gallery_card:hover .gallery_overlay{
    height: 100%;
}

.gallery_text{
    font-size: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-weight: 300;
}

.music_container{
    margin: 50px;
}

.a_music_btn{
    text-decoration: none;
    background-color: var(--suisei-blue);
    font-size: 30px;
    padding: 20px;
    margin: 20px;
    transition: 0.3s;
}

.a_music_btn:hover{
    background-color: var(--suisei-light);
    color: var(--suisei-dark);
    
}

.footer_box{
    margin-top: 50px;
    background-color: var(--suisei-dark);
}

.footer_font{
    padding: 10px;
    font-weight: 300;
}